<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Room Reservation</title>
  <link rel="stylesheet" th:href="@{/Style.css}">
</head>
<body>
<h1>Book Your Stay at Moffat Bay Lodge</h1>

<form th:action="@{/reservation}" method="post">
  <div>
    <label for="roomSize">Room Size</label>
    <select id="roomSize" name="roomSize" required>
      <option value="Double Full Beds">Double Full Beds</option>
      <option value="Queen">Queen</option>
      <option value="Double Queen Beds">Double Queen Beds</option>
      <option value="King">King</option>
    </select>
  </div>
  <div>
    <label for="numGuests">Number of Guests</label>
    <input type="number" id="numGuests" name="numGuests" min="1" max="5" required>
  </div>
  <div>
    <label for="checkInDate">Check-In Date</label>
    <input type="date" id="checkInDate" name="checkInDate" required>
  </div>
  <div>
    <label for="checkOutDate">Check-Out Date</label>
    <input type="date" id="checkOutDate" name="checkOutDate" required>
  </div>
  <div>
    <button type="submit" class="button-primary">Submit Reservation</button>
    <button type="reset" class="button-secondary">Cancel</button>
  </div>
</form>

</body>
</html>
